
.pagina{
  display:flex;
  flex-direction: row;

}


.tela{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.formulario{

}

.filtro {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dataInicial {
  font-family:inherit;
  font-weight: 400;
  font-size:1rem;
  color:black;
  width:25%;
  height:50%;
 justify-content: center;
margin-right: 1px;

padding: 10px;
}

.dataFinal {
  font-family:inherit;
  font-weight: 400;
  font-size:1rem;
  color:black;
  width:25%;
  height:50%;
 justify-content: center;
margin-right: 1px;

padding: 10px;
}

.btnVisualizar{
  background-color:darkblue;
  border-radius: 10px;
  color: white;
  width:80px;
  height: 40px;
  margin-left: 10px;

}

.textoResultado{
  padding:10px;

}

.resultadoPesquisa {



  overflow: scroll;

}

mat-table {

  width: 100%;
  display: table;


}

mat-header-row {


  display: table-row;

  background-color: white;


}



 mat-row {
  opacity: 1.0;

  display: table-row;


}



 ng-container {
  opacity: 1.0;


  display: table-cell;




}

td{
  min-width:300px;
    vertical-align: middle;

    word-wrap:initial;
  display: table-cell;




    text-overflow: clip;
  white-space: nowrap;


  font-family:inherit;
    font-weight: 400;
    font-size:1rem;


    text-align: left;


    color: black;
}

   th {
    min-width:300px;
    vertical-align: middle;

    word-wrap:initial;
  display: table-cell;




    text-overflow: clip;
  white-space: nowrap;



    font-weight: 400;
    font-size:1rem;
    color:gray;

    text-align: left;


  }
