

<div class="filtro">
    <h2>Filtro do relatório</h2>
    <h3>
        Período:
    </h3>
    <form class="formulario" id="formulario">

    
        <mat-form-field class="dataInicial">
            <mat-label for="dataInicialInput"> Data inicial de auditoria: </mat-label>
            <input matInput type="date" id="dataInicialInput" placeholder="0000/00/00" required pattern="\d{4}-\d{2}-\d{2}">
        </mat-form-field>

        <h1></h1>
        <mat-form-field class="dataFinal">
            <mat-label for="dataFinalInput">Data final de auditoria:</mat-label>
            <input matInput type="date" id="dataFinalInput" placeholder="0000/00/00" required pattern="\d{4}-\d{2}-\d{2}">
        </mat-form-field>
        <h1></h1>
   
    

        <button class="btnVisualizar" type="button" (click)="visualizarDados()">Visualizar</button>
    </form>
<h1></h1>
</div>

<div class="resultadoPesquisa">
    
    <h2>Resultado da Pesquisa</h2>

        <mat-table mat-table [dataSource]="dataSourceRelatorio" matshort>

            <ng-container matColumnDef="nm_paciente">
                <th mat-header-cell *matHeaderCellDef> Nome do Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.nm_paciente}}</td>
            </ng-container>

            <ng-container matColumnDef="dt_auditoria">
                <th mat-header-cell *matHeaderCellDef> Data da Auditoria </th>
                <td mat-cell *matCellDef="let element">{{element.dt_auditoria}}</td>
            </ng-container>

            <ng-container matColumnDef="nm_convenio">
                <th mat-header-cell *matHeaderCellDef> Nome do Convênio </th>
                <td mat-cell *matCellDef="let element"> {{element.nm_convenio}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_atendimento">
                <th mat-header-cell *matHeaderCellDef> Código do Atendimento </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_atendimento}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_reg_fat">
                <th mat-header-cell *matHeaderCellDef> Código do Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_reg_fat}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_reg_amb">
                <th mat-header-cell *matHeaderCellDef> Código do Registro Ambulatório </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_reg_amb}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_gru_fat">
                <th mat-header-cell *matHeaderCellDef> Código do Grupo </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_gru_fat}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_pro_fat">
                <th mat-header-cell *matHeaderCellDef> Código do Profissional </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_pro_fat}}</td>
            </ng-container>

            <ng-container matColumnDef="ds_pro_fat">
                <th mat-header-cell *matHeaderCellDef> DS do Profissional </th>
                <td mat-cell *matCellDef="let element"> {{element.ds_pro_fat}}</td>
            </ng-container>

            <ng-container matColumnDef="ds_motivo_auditoria">
                <th mat-header-cell *matHeaderCellDef> Motivo da Auditoria </th>
                <td mat-cell *matCellDef="let element"> {{element.ds_motivo_auditoria}}</td>
            </ng-container>

            <ng-container matColumnDef="tipo_auditoria">
                <th mat-header-cell *matHeaderCellDef> Tipo da Auditoria </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_auditoria}}</td>
            </ng-container>

            <ng-container matColumnDef="nm_setor">
                <th mat-header-cell *matHeaderCellDef> Nome do Setor </th>
                <td mat-cell *matCellDef="let element"> {{element.nm_setor}}</td>
            </ng-container>

            <ng-container matColumnDef="qt_lancamento_ant">
                <th mat-header-cell *matHeaderCellDef> Quantidade de Lançamento antes </th>
                <td mat-cell *matCellDef="let element"> {{element.qt_lancamento_ant}}</td>
            </ng-container>

            <ng-container matColumnDef="qt_lancamento">
                <th mat-header-cell *matHeaderCellDef> Quantidade de Lançamento </th>
                <td mat-cell *matCellDef="let element"> {{element.qt_lancamento}}</td>
            </ng-container>

            <ng-container matColumnDef="qt_total_ajustado">
                <th mat-header-cell *matHeaderCellDef> Quantidade Total Ajustado </th>
                <td mat-cell *matCellDef="let element"> {{element.qt_total_ajustado}}</td>
            </ng-container>

            <ng-container matColumnDef="vl_total_conta_ant">
                <th mat-header-cell *matHeaderCellDef> Valor Total da Conta Antes </th>
                <td mat-cell *matCellDef="let element"> {{element.vl_total_conta_ant}}</td>
            </ng-container>

            <ng-container matColumnDef="vl_total_conta">
                <th mat-header-cell *matHeaderCellDef> Valor Total da Conta </th>
                <td mat-cell *matCellDef="let element"> {{element.vl_total_conta}}</td>
            </ng-container>

            <ng-container matColumnDef="exclusaoxinclusao">
                <th mat-header-cell *matHeaderCellDef> Exclusão x Inclusão </th>
                <td mat-cell *matCellDef="let element"> {{element.exclusaoxinclusao}}</td>
            </ng-container>

            <ng-container matColumnDef="nm_usuario">
                <th mat-header-cell *matHeaderCellDef> Nome do Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.nm_usuario}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_usuario">
                <th mat-header-cell *matHeaderCellDef> Código do Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.cd_usuario}}</td>
            </ng-container>

            <ng-container matColumnDef="setor_usuario">
                <th mat-header-cell *matHeaderCellDef> Setor do Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.setor_usuario}}</td>
            </ng-container>

            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Ação </th>
                <td mat-cell *matCellDef="let element"> {{element.acao}}</td>
            </ng-container>


            <mat-header-row class="header-row" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row class="row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <!--
          <tr>
              <td>Nome do Usuário</td>
              <td>Data</td>
    
          </tr>
          <tr *ngFor="let r of this.relatorio">
              <td>{{ r.nm_paciente }}</td>
              <td>{{ r.dt_auditoria }}</td>
    
           </tr>
           -->
        </mat-table>
    
    
</div>




